@{
    ViewData["Title"] = "Home page";
    Layout = "_Layout";
}

<div class="d-flex justify-content-center align-items-center h-100">
    <div class="card shadow-sm p-4" style="max-width: 400px; width: 100%; border-radius: 10px;">
        <h1 class="text-center mb-4">Login</h1>
        <form id="loginForm">
            <div class="form-group mb-3">
                <label class="form-label" for="loginInput">Username:</label>
                <input class="form-control" name="username" type="text" id="loginInput" placeholder="Enter your username" required />
            </div>
            <div class="form-group mb-3">
                <label class="form-label" for="passwordInput">Password:</label>
                <input class="form-control" name="password" type="password" id="passwordInput" placeholder="Enter your password" required />
            </div>
            <div id="errorSmallContainer" class="form-group mb-3">
                <small class="text-danger" id="errorSmall"></small>
            </div>
            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>
        <div class="text-center mt-3">
            <a href="/Auth/register/" class="text-decoration-none">
                Don't have an account yet? <span class="text-primary">Register here.</span>
            </a>
        </div>
    </div>
</div>

<script>
    document.getElementById("loginForm").addEventListener("submit", async function (event) {
        event.preventDefault();
        
        // Clear any previous error messages
        const errorSmall = document.getElementById("errorSmall");
        errorSmall.textContent = "";

        const formData = new FormData(this);
        const data = Object.fromEntries(formData.entries());

        const request = new Request(`${window.location.origin}/api/User/login`, {
            headers: {
                "Content-Type": "application/json"
            },
            method: "POST",
            body: JSON.stringify(data)
        });
        
        try {
            const response = await fetch(request);
            if (!response.ok) {
                const error = await response.json();
                const message = error?.message || "Invalid login credentials.";
                errorSmall.textContent = message;
                return;
            }

            const result = await response.json();
            const expiryDate = new Date();
            expiryDate.setTime(expiryDate.getTime() + 60 * 60 * 1000); // 1-hour expiry

            const jwtItem = {
                value: result.jwt,
                expiry: expiryDate
            };
            localStorage.setItem("jwt", JSON.stringify(jwtItem));
            window.location.href = "/";
        } catch (error) {
            console.error('An error occurred:', error);
            errorSmall.textContent = "An unexpected error occurred. Please try again.";
        }
    });
</script>
